/* following is global removal of pre-defined set margin  or padding */
* {
  margin: 0;
  padding: 0;
}

/*  */
html,
body {
  min-width: 290px;
  background-color: beige;
  color: #4d4e53;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1;
}

.main-wrapper {
  display: flex;
  height: 100%;
}

.ipf-logo {
  display: flex;
  justify-content: ;
  width: 100%;
  height: auto;
  margin: 30px 0px 30px 310px;
  /* min-width: 60em; */
}

.firstHeader {
  background-image: linear-gradient(60deg, #e41013 15%, gray 30%, #00225a 10%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#navbar,
header ul {
  margin: 0;
  padding: 0;
  width: 250px;
  text-align: center;
  position: fixed;
  height: 100%;
  overflow: hidden;
  border-right: solid 2px rgba(0, 22, 22, 0.4);
  */
}

#navbar ul {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 250px;
  text-align: center;
  /*background-color: pink;*/
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: solid 2px rgba(0, 22, 22, 0.4);
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  /* padding: 10px; */
}

/* #navbar a {
  padding: 10px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
  line-height: 2;
} */

#navbar a {
  padding: 10px 20px 10px 20px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
  line-height: 2;
}

#navbar li:hover {
  background-color: #555;
}

#navbar a:hover {
  color: white;
}


#main-doc {
  text-align: left;
  white-space: pre-line;
  /* position: relative; */
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  padding: 15px;
  margin: 10px;
  margin-left: 310px;
  border-radius: 5px;
  width: 100%;
}

main {
  overflow-y: auto;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.3em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

code.tab {
  margin-left: 50px;
}

span.tab2 {
  margin-left: 40px;
}

/* following is 1st image of Guidelines of Knurling distances - Under Equip. & Specifications */
.lifting-images {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}

/* #knurling {
  display: block;
  margin: 50px auto 50px 115px;
  width: 80%;
} */

/* following is styling of 1st table of the 3 major lifts: Squat, Bench press, and Deadlift */
.table-container {
  margin: .5em auto;
  width: 100%;
  /* max-width: 300px; */
  border-collapse: collapse;


}

.flex-table-header {
  background-color: rgba(200, 200, 200, 0.8);
}

td {
  border: 1px solid black;
  padding: 0.5em;
}

th {
  padding: 0.5em;
  border: 1px solid black;
}

.flex-row {}

.flex-row,
.flex-cell {
  /* text-align: center; */

}

.red-strike,
.red-span {
  color: red;
}

*/

/* the following is styling changes for mobile devices */
@media only screen and (max-width: 1000px) {
  .ipf-logo {
    display: none;
  }

  /* .ipf-logo {
    display: flex;
    justify-content: flex-end; */
  /* padding-left: 50%; 
  }*/

  /* .ipf-logo {
    display: flex;
    justify-content: center;
  }

  ipf-logo>img {
    width: 100% !important;
    height: auto !important;
    float: left !important;
  } */
}

@media only screen and (max-width: 950px) {
  #navbar {
    /* position: fixed !important;
    min-width: 290px !important;
    top: 0px;
    left: 0px;
    width: 100% !important;
    font-size: .8em;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4); */
  }

  .firstHeader {
    font-size: 1em;
    margin: 10px;
    padding: 0;
    max-width: 300px;
    /* margin: 10px 0px 10px 5px !important; */
    /* padding: 0px !important; */
    max-width: 150px !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  #nav-bar {
    position: fixed;
    border: 1px solid rgba(0, 22, 22, 0.4);
    flex: 1 0 5%;
  }

  .ipf-logo {
    display: none;
  }
}